{% extends 'job_portal/base.html' %}

{% block body %}
<div class="career_text_banner">
  <div>
    <h2>Current Openings</h2>
  </div>
</div>

<div class="container overide_cont_padding">
  {% for opportunity in current_openings %}
  <div class="opportunity_box"> 
    <div>
      <h4>
        <a style="color: unset;" href="{% url 'job_portal:job_post' opportunity.slug %}">{{opportunity.position}}</a>
      </h4>
    </div>
    <div class="loc_date_data">{{opportunity.location}}, {{opportunity.country}}. Posted On: {{opportunity.posted_on}}</div>
    <div>{{opportunity.job_description|truncatewords:35}}</div>
    <div><button class="custom_button">Apply</button></div>
  </div>
  <div class="line"></div>
  {% endfor %}
</div>
{% endblock body %}

{% block script %}
{% endblock script %}
