{% extends 'job_portal/base.html' %}

{% block body %}
<div class="career_text_banner">
  <div>
    <h2>{{post.position}}</h2>
    <p>{{post.location}}, {{post.country}}. Posted On: {{post.posted_on}}</p>
  </div>
</div>

<div class="container overide_cont_padding">
  <div class="row">
    <div class="col">
      <h5>Experience Required</h5>
      {{post.experience}}
      <h5>Primary Skill</h5>
      {{post.primary_skill}}
      <h5>Secondary Skill</h5>
      {{post.secondary_skill}}
      <h5>Job Desctiption</h5>
      {{post.job_description}}
    </div>
    <div class="col-md-3" style="text-align: center;">
      <div>
        <button class="custom_button" type="button" data-toggle="modal" data-target="#application_model">Apply</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="application_model" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard=false>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
	<h5 class="modal-title">{{post.position}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	<form method="POST" id="id_app_form" action="{% url 'job_portal:apply' %}" enctype="multipart/form-data">
	  {% csrf_token %}

	  <div class="form-group row" style="display: none;">
            <label for="staticEmail" class="col-sm-3 col-form-label">Position</label>
            <div class="col-sm-9">
	      {{application_form.applied_for}}
            </div>
          </div>

          <div class="form-group row">
            <label for="staticEmail" class="col-sm-3 col-form-label">First name</label>
            <div class="col-sm-9">
	      {{application_form.first_name}}
            </div>
          </div>

          <div class="form-group row">
            <label for="staticEmail" class="col-sm-3 col-form-label">Lase name</label>
            <div class="col-sm-9">
	      {{application_form.last_name}}
            </div>
          </div>

          <div class="form-group row">
            <label for="staticEmail" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
	      {{application_form.email}}
            </div>
          </div>

          <div class="form-group row">
            <label for="staticEmail" class="col-sm-3 col-form-label">Phone number</label>
            <div class="col-sm-9">
	      {{application_form.phone_number}}
            </div>
          </div>

          <div class="form-group row">
            <label for="staticEmail" class="col-sm-3 col-form-label">Experience</label>
            <div class="col-sm-9">
	      {{application_form.experience}}
            </div>
          </div>
	  
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-3 col-form-label">skills</label>
            <div class="col-sm-9">
	      {{application_form.skills}}
            </div>
          </div>

          <div class="form-group row">
            <label for="staticEmail" class="col-sm-3 col-form-label">Resume</label>
            <div class="col-sm-9">
	      {{application_form.resume}}
            </div>
          </div>

	  <div style="text-align: right;">
	    <input class="custom_button form_close_btn" type="button" value="Close" data-dismiss="modal">
	    <input class="custom_button" id="application_submit" type="submit" value="Submit">
	  </div>
	</form>
      </div>
    </div>
  </div>
</div>
{% endblock body %}

{% block script %}
<script>
  $(function () {
    $("#id_applied_for").val("{{post.id}}");
  });
</script>
{% endblock script %}
