.career_text_banner {
  margin-top: 56px; 
  background-image: linear-gradient(to right, #0cebc1, #bbd836);
  text-align: center;
  color: white;
}

.career_text_banner div {
  padding: 10px 0px;
}

.overide_cont_padding {
  padding: 20px 0px;
}

.opportunity_box {
  margin: 20px 0px;
}

.loc_date_data {
  font-size: 12px; 
  color: grey;
  margin-bottom: 10px;
}

.custom_button {
  margin-top: 10px;
  background-color: #BBD836;
  padding: 6px 36px;
  border: none;
  border-radius: 18px;
  color: #343a40;
}

.line {
  height: 1px;
  background-color: gray;
}
